.header {
  background-color: rgb(201, 202, 202);
  box-shadow: 0 10px 23px -3px #e8ecee;
  margin-bottom: 20px;
  &__content {
    padding: 20px 0;
    display: flex;
  }
}
.search-query {
  margin: 0 auto;
  width: 300px;
  height: 40px;
  border: 1px solid #e8ecee;
  background: #f0f3f5;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  outline: none;
}
